section {
  min-height: 100vh;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 3px;
  background-color: #ce6817;
}

a.nav-link:hover {
  color: #1d1c1b !important;
}

section.home {
  background-color: #ce6817;
  font-family: "Lora", serif;
}

.home h3 {
  color: rgb(0, 0, 0);
}

.teks {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 11px;
  font-size: 10px;
}

section.text {
  background-color: #0d4474;
  font-family: "Montserrat", sans-serif;
}

section.brand h4 {
  color: #0d4474;
}

.footer {
  font-family: "Montserrat", sans-serif;
  background-color: #ce6817;
  min-height: 50vh;
  padding: 80px;
}

.btn {
  margin: 5px !important;
  /*border-radius: 5px !important;*/
  width: 103px !important;
  /*color: #0d4474 !important;*/
  font-size: 12px !important;
  /*font-weight: 500 !important;*/
}

span {
  transition: all 0.3s ease !important;
  /* opacity: 0 !important;
    transform: translateY(50px) !important;
    display: inline-block !important; */
  }

  span.fade {
    color: white !important;
    opacity: 1 !important;
    /* transform: translateY(0px) !important; */
  }

  .wrapper{
    margin-top: 90px;
  }

  .collab{
    margin-top: 70px;
  }
